{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>

        .navbar-brand {
            color: white !important;
        }

        .nav-link {
            color: white !important;
        }

        a {
            color: white !important;
            text-decoration: none;
        }


    </style>
</head>

<body style=" background: radial-gradient(30.76% 54.46% at 80.76% 66.21%, #0B112B 34.2%, #091C39 77.84%), #0E1540;">
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: white"><img src="{% static 'logo2.png' %}" style="width: auto;
         height: 60px;
         display: block;
         text-indent: -9999px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-7" style="color: #FBEDED;padding-top: 320px">
            <span style="font-family: Roboto;font-style: normal;font-weight: normal;font-size: 48px;line-height: 56px;">
                Building digital  products,
               <p> brands</p>
            </span>
            <p style="padding-top: 50px;font-family: Roboto;font-style: normal;font-weight: normal;font-size: 36px;line-height: 42px;">
                <a href=""> <img src="{% static 'button.png' %}"> Let’s Experience it</a>
            </p>
        </div>
        <div class="col-md-5">
            <div class="head">
                <img src="{% static 'home/head.png' %}" class="img-fluid" style="height: auto;max-width: 600px">
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>


</body>
</html>