<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">


    <title>Hello, world!</title>
</head>

<body>

<!-- nav bar code    -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button id="Opensidebar" class="openbtn" onclick="openNav()">☰</button>
            <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
        </div>
    </div>
</nav>


<!-- side bar creation -->

<div id="mySidebar" class="sidebar">
    <a href="#" id="closebutton" class="closebtn" onclick="closeNav()">×</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<!-- text formatting -->

<div id="main">
    <p>Python Introduction</p>
    Python is a popular programming language.

    It was developed in the late 1980s by Guido van Rossum, and released in 1991.

    Python is still maintained by a core development team, and Guido is still in charge.

    Who uses Python?

   <p> Here’s a list of some top-tier companies that you know that use Python.

       Google: Python is an official language at Google; alongside Java and C++</p>

    <p>YouTube: Previously it was written in PHP but eventually it was replaced by Python. Now, the site uses Python
    heavily for various purposes.<p/>

    <p>Reddit: Reddit was originally coded in Lisp, but in December of 2005, six months after its launch, the site was
        recoded into Python.</p>

    Instagram: Instagram moved to Python 3 is just great example of a gigantic tech company using python in combination
    with Django</p>

    Amazon: Amazon uses Python because of its popular, scalable & appropriate for dealing with Big Data.

    <p>Quora: Quora is a portal where you get your answers. Quora’s language programming has been developed using Python’s
    framework.

    Why Choose Python?

        Here are some of the features that make Python an appealing choice.</p>

   <p> Python is Popular: Accordin to Stack Overflow Developer Survey, Python is the 7th most popular and the number one
    most wanted technology.

    Python is Free: The Python is developed under an open-source license, making it free to install, use, and
    distribute, even for commercial purposes.

   <p> Python is Platform Independent: Python works on different platforms (Windows, Mac, Linux etc).

    Python is Portable: Code written for one platform will work on any other platform.</p>

    Python is Interpreted: Meaning that code can be executed as soon as it is written. This means, quicker development
    cycles.

    Should I use Python 2 or Python 3?

    In-short: Python 2 is legacy, Python 3 is the present and future of the language.

    Python 2 and 3 are very similar. However, Python 3 contains a few relatively small but significant changes that are
    not backward compatible with the 2.x versions.</p>
</div>

<!-- functions -->
<script>
    function openNav() {
        var e = document.getElementById("mySidebar");
        var f = document.getElementById("main");
        var screenSize = window.matchMedia("(max-width: 800px)");
        console.log(screenSize);
        if (!screenSize.matches) {
            if (e.style.width == '250px') {
                e.style.width = '0px';
                f.style.marginLeft = '0px';
            } else {
                e.style.width = '250px';
                f.style.marginLeft = '250px';
            }
        } else {
            if (e.style.width == '250px') {
                e.style.width = '0px';
            } else {
                e.style.width = '250px';
            }
        }
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";

    }
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>


<!-- Option 1: Bootstrap Bundle with Popper -->


</html>