<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SideBar-Site</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c0fe8483df.js" crossorigin="anonymous"></script>
</head>
<body>

 <!-- nav bar code    -->
    <span>
      <nav class="navbar navbar-default">
        <div class="container-fluid" >
          <div class="navbar-header" >
            <button id ="Opensidebar" class="openbtn" onclick="openNav()">☰</button>
            <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
          </div>
        </div>
    </nav>
    </span>
 
  <!-- side bar creation -->
    
    <div id="mySidebar" class="sidebar">
        <a href="#" id ="closebutton" class="closebtn" onclick="closeNav()">×</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>

<!-- text formatting -->

      <div id="main">
          <h2>Python</h2>
          <p>Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.</p>
          <ul>
            <li>web development (server-side),</li>
            <li>software development</li>
            <li>mathematics</li>
          </ul>
      </div>
    
<!-- functions -->
      <script>
        function openNav() {
          var e = document.getElementById("mySidebar");
          var f = document.getElementById("main");
          var screenSize= window.matchMedia("(max-width: 800px)");
          console.log(screenSize);
          if(!screenSize.matches){
            if (e.style.width == '250px')
           {
             e.style.width = '0px';
             f.style.marginLeft = '0px';
           }
          else 
          {
             e.style.width = '250px';
             f.style.marginLeft = '250px';
          }
          }
          else{
            if (e.style.width == '250px')
           {
             e.style.width = '0px';
           }
          else 
          {
             e.style.width = '250px';
          }
          }
        }
        
        function closeNav() {
          document.getElementById("mySidebar").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
          
        }
        </script>

</body>
</html>